{% extends "layout.html" %}
{% block title %}
    Chemistry
{% endblock %}

{% block main %}
<div width="100%">
    <h1>
        Featured Questions
    </h1>
    <h4>
        Not sure where to look? Take a look a this week's featured questions!
    </h4>
    <br>
    <table width="100%">
        {% for q in random_questions %}
        <tr>
            <td>
                <h5>
                    <a href="{{'/questions/' ~ q[0]}}">
                        {{ q[1] }}
                    </a>
                </h5>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{'/static/questions/' ~ q[1]}}" width="90%">
            </td>
        </tr>
    
        {% endfor %}
    </table>
</div>
{% endblock %}