{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    <script type="text/javascript">
        window.onload = setupRefresh;
        function setupRefresh()
        {
            setInterval("refreshBlock();", 1000);
        }

        function refreshBlock()
        {
            $("#block").load(location.href+" #block>*","");
        }
    </script>

{% endblock %}

{% block main %}
<div>
    <h1>Welcome to EduMate!</h1>
    <br>
    <h4> We want to make online easy by creating free access to education resources collated into one space.</h4>
    <br>
    <p>
        Online learning has been hard, especially with the lonliness and uncertainty of a global pandemic.
        We are here to take some of the burden and inject some more joy into learning. Think of us as your online learning buddy!
    </p>
    <p>
        It's hard to know where to look when you're stumped on a tricky questions but EduMate is here to collate all resources for
        you and make your education experience smoother. Simply scan in a question you have from our "Scan A Question" tab and
        let our algorithm do the magic! EduMate will classify the question into a topic and serach youtube to find you helpful videos
        brought to you all in one place, it really is that simple! You can check out related questions on the right of the page in case you're hungry for more :)
    </p>
</div>
<br>
<div>
    <iframe src="https://www.youtube.com/embed/8A3crqKb13I" width="853" height="480" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}