<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- link href="/static/favicon.ico" rel="icon" -->
        <link rel="icon" type="image" href="static/download.png"/>

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>EduMate: {% block title %}{% endblock %}</title>
        
        {% block head %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark border">
            <a class="navbar-brand" href="/"><span class="green"><img src="/static/download.png" width='50px'>  EduMate</span> </a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/featured">Featured</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/Subjects">
                                Subjects
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/maths">Maths</a>
                                    <a class="dropdown-item" href="/physics">Physics</a>
                                    <a class="dropdown-item" href="/chemistry">Chemistry</a>
                                    <a class="dropdown-item" href="/biology">Biology</a>
                                  </div>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/scan">Scan A Question</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental_health">Mental Health</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
        <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        EduMate.com 
                    </p>
                    <p class="text-justify">
                        <i>
                            WE WANT TO MAKE ONLINE LEARNING EASIER.
                        </i> 
                    </p>

                    <p class="text-justify">
                        Online learning has been hard, especially with the lonliness and uncertainty of a global pandemic.
                        We are here to take some of the burden and inject some more joy into learning. Think of us as your online learning buddy!
                    </p>
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Categories</h6>
                  <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Mental Health</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">STEM</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Huamanities</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Problem Solving Skills</a></li>
                    <li><a href="http://scanfcode.com/category/android/">University Admissions</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Careers</a></li>
                  </ul>
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <hr>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
               <a href="#">EduMate</a>.
                  </p>
                </div>
      
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                  </ul>
                </div>
              </div>
            </div>
        </footer>
        <!--<footer class="small text-center text-muted bg-dark color">
            <table width="100%">
                <tr>
                    <td width="60%">
                        <a href="naresh@suriar.me.uk">Contact Us</a>
                    </td>
                    <td width="40%">
                        Created by <a href="https://github.com/nareshr100">Naresh Rasakulasuriar</a> and <a href="https://github.com/Jakob2000Cam">Jakob Bull</a>
                    </td>
                </tr>
            </table>
        </footer> -->
    
    </body>

</html>