{% extends "layout.html" %}
{% block title %}
    Mental Health
{% endblock %}

{% block main %}
<table width=100%>
    <colgroup>
        <col span="1" style="width: 70%;">
        <col span="1" style="width: 30%;">
    </colgroup>
    <tbody>
        <tr>
            <td>
                <div>
                    <h1>Mental Health</h1>
                    <br>
                    <h4>Your mental health is important.</h4>
                    <h5><i>Your education is too, but make sure that you take care of yourself!</i></h5>
                    <br>
                    <p>
                        We know online learning can be loenly and stressful especially suring a global pandemic, you aren't alone!
                        We want you to take care of yourself a prioritise your wellnes above all else.
                    </p>
                    <p>
                        Check out this great video to find out more about mental health and how to look after it:
                    </p>
                </div>
                <br>
                <div>
                    <iframe src="https://www.youtube.com/embed/DxIDKZHW3-E" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                </div>
            </td>
            <td>
                <div style="text-align: center;">
                    <h4>
                        Helpful Resources:
                    </h4>
                    <h6>
                        <a href='www.thecalmzone.net'>
                            CALM
                        </a>
                    </h6>
                    <p>
                        CALM is the Campaign Against Living Miserably. A charity providing a mental health helpline and webchat.
                    </p>
                    <br>
                    <h6>
                        <a href='http://www.mentalhealth.org.uk/'>
                            Mental Health Foundation
                        </a>
                    </h6>
                    <p>
                        Provides information and support for anyone with mental health problems or learning disabilities.
                    </p>
                    <br>
                    <h6>
                        <a href='http://www.mind.org.uk/'>
                            MIND
                        </a>
                    </h6>
                    <p>
                        Promotes the views and needs of people with mental health problems. Phone: 0300 123 3393 (Monday to Friday, 9am to 6pm)
                    </p>
                    <br>
                    <h6>
                        <a href='http://www.papyrus-uk.org/'>
                            PAPYRUS
                        </a>
                    </h6>
                    <p>
                        Young suicide prevention society. Phone: HOPElineUK 0800 068 4141 (9am to midnight, every day of the year)
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
{% endblock %}