{% extends "layout.html" %}
{% block title %}
    Questions
{% endblock %}

{% block main %}
    <h1>
        {{ level }} - {{ subject }} - {{ topics }}
    </h1>

    <table width="100%">
        <tr>
            <td width="80%">
                <img src="{{'/static/questions/' ~ question}}" width="90%">
            </td>
            <td width="80%">
                <h4>
                    Enjoyed this question?
                </h4>
                <h6>
                    Why not checkout a similar one:
                </h6>
            
                {% for q in related_questions %}
            
                <tr>
                    <td>
                        <a href="/question">
                            {{ q }}
                        </a>
                    </td>
                </tr>
            
                {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}