{% extends "layout.html" %}
{% block title %}
    Questions
{% endblock %}

{% block main %}
    <h1>
        {{ level }} - {{ subject }} - {{ topics }}
    </h1>
    <br>
    <table width="100%">
        <tr>
            <td width="80%">
                <h3>
                    {{ question }}
                </h3>
                <br>
                <img src="{{'/static/questions/' ~ question}}" width="90%">
                <br>
                <h4>
                    Check out the videos below if you're stuck!
                </h4>
            </td>
            <td width="80%">
                <h4>
                    Enjoyed this question?
                </h4>
                <h6>
                    Why not checkout a similar one:
                </h6>
                <br>
                {% for q in related_questions %}
                    <p>
                        <a href="{{'/questions/' ~ q[0]}}">
                            {{ q[1] }}
                        </a>
                    </p>
                {% endfor %}
            </td>
        </tr>
        {% for youtube_id in vid_list %}
            
            <tr>
                <td>
                    <h4>
                        <a href="{{ 'https://www.youtube.com/watch?v=' ~ youtube_id}}">
                            Video below not showing? Click here     
                        </a>
                    </h4>
                    
                    <iframe src="{{ 'https://www.youtube.com/embed/' ~ youtube_id}}" width="560" height="315" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}
    </table>

{% endblock %}