{% extends "layout.html" %}
{% block title %}
    Questions
{% endblock %}

{% block main %}
    <h1>
        {{ level }} - {{ subject }} - {{ topics }}
    </h1>
    <br>
    <table width="100%">
        <tr>
            <td width="80%">
                <h3>
                    {{ question }}
                </h3>
                <br>
                <img src="{{'/static/questions/' ~ question}}" width="90%">
            </td>
            <td width="80%">
                <h4>
                    Enjoyed this question?
                </h4>
                <h6>
                    Why not checkout a similar one:
                </h6>
                <br>
                {% for q in related_questions %}
                    <p>
                        <a href="{{'/questions/' ~ q[0]}}">
                            {{ q[1] }}
                        </a>
                    </p>
                {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}