{% extends "layout.html" %}
{% block title %}
    Webcam
{% endblock %}

{% block main %}
<table width="100%">
    <colgroup>
        <col span="1" style="width: 80%;">
        <col span="1" style="width: 20%;">
    </colgroup>

    <tbody>
        {% if loading == 0 %}
            <tr>
                <td>
                    {% if feed == 1 %}

                        <!--{% for message in get_flashed_messages() %}
                        <h4>
                            <div class="alert-error">Error: {{ message }}</div>
                        </h4>
                        {% endfor %}-->
                        
                    <!--<div class="container">-->
                        <div>
                            <form action="/scan" method="post">
                                <button name="capture" type="submit" class="btn btn-danger">Capture</button>
                            </form>
                        </div>
                    <!--</div>-->
                    <br>
                    <img src="{{ url_for('video_feed') }}" width="70%%"/>
                    
                    
                    {% else %}
                    <div>
                        <form action="/scan" method="get">
                            <button name="recapture" type="submit" class="btn btn-danger">Scan a different question</button>
                        </form>
                    </div>
                    <br>
                    <h5>
                        We think this question is from the topic of {{ search_key }}!
                    </h5>
                    <br>
                    <img src="{{'/static/images/' ~ img_name }}" width="560px"/>
                
                    <h2>
                        Check out the videos below if you're stuck!
                    </h2>
                    <br>
                    {% endif %}
                </td>
                <td>
                    {% if feed == 1 %}

                    <h1>
                        <----- Scan your question in here!
                    </h1>

                    {% else %}
                        <h4>
                            Enjoyed this question?
                        </h4>
                        <h6>
                            Why not checkout a similar one:
                        </h6>
                        <br>
                        {% for q in related_questions %}
                            <p>
                                <a href="{{'/questions/' ~ q[0]}}">
                                    {{ q[1] }}
                                </a>
                            </p>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% for youtube_id in vid_list %}
            
            <tr>
                <td>
                    <h4>
                        <a href="{{ 'https://www.youtube.com/watch?v=' ~ youtube_id}}">
                            Video below not showing? Click here     
                        </a>
                    </h4>
                    
                    <iframe src="{{ 'https://www.youtube.com/embed/' ~ youtube_id}}" width="560" height="315" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td>
                    <img src="{{'/static/images/' ~ img_name }}" width="560px"/>
                </td>
                <td>
                    Hello
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
<br>
{% endblock %}